{{outlet}}

<h1>Group "{{model.name}}" detail</h1>

<dl>
  <dt>Name</dt>
  <dd>{{model.name}}</dd>
</dl>

{{#each model.members as |user|}}
  <li>{{link-to user.username 'user.detail' user.id}}</li>
{{/each}}

{{model-editor model=model}}
